body {
  background: rgb(255,255,255);
  background: linear-gradient(318deg, rgba(255,255,255,1) 0%, rgba(120,143,158,1) 100%);
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.main-container {
  margin-top: 50px;
}

.mr {
  &-5 {
    margin-right: 5px;
  }
  &-10 {
    margin-right: 10px;
  }
}

.mt {
  &-5 {
    margin-top: 5px;
  }
  &-10 {
    margin-top: 10px !important;
  }
}

.mb {
  &-5 {
    margin-bottom: 5px;
  }
  &-10 {
    margin-bottom: 10px !important;
  }
}
